<div class="dilemma__games animated hidden">
<button class="button round expand button__select button__select--solo"><i class="fa fa-trophy"></i> Solo</button>
<button class="button round expand button__select button__select--party"><i class="fa fa-comments-o"></i> Party</button>
<button class="button round expand button__select button__select--rounds"><i class="fa fa-bomb"></i> Rounds</button>
</div>
<div class="dilemma__games animated">
</div>

  <div class="dilemma__info animated">
    <h2>How does it work?</h2>
    <p>Each round of the game, you get submitted to two dilemmas. You must choose a dilemma to proceed within {{dilemmaTime | date:'ss' }} seconds. If the timer runs out, another dilemma will appear.</p>
    <button id="button__newDilemma" ng-click="newGame();" class="button round expand button__select"><i class="fa fa-bolt"></i> Start it already!</button>
    <button id="button__register" class="button round expand button__select hidden"><i class="fa fa-link"></i> Connect with Social Media</button>
  </div>

</div>
