  <div class="dilemma__info animated">
    <h2>Quitter</h2>
    <p>You have ended your spiritual voyage and succesfully navigated the stream of dilemmas, which now lie in the past.</p>
    <p>Live long and prosper in style <i class="fa fa-hand-spock-o"></i></p>

    <ul class="button-group round even-2">
      <li><button ng-click="homeScreen();" id="button__homeScreen" class="button button__select"><i class="fa fa-hand-o-left"></i> To start!</button></li>
      <li><button ng-click="newDilemma();" id="button__newDilemma" class="button button__select"><i class="fa fa-bolt"></i> New!</button></li>
    </ul>
  </div>
